body {
    background: #080E22;
    overflow: hidden;
}

#spaceship {
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -50px;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    transition:         all 100ms ease-in-out;
}

#spaceship .shell:after {
    content: url(../images/rocket-flame.png);
    position: absolute;
    z-index: -1;
    bottom: -250px;
    left: 50%;
    margin-left: -31px;
    opacity: 0;
    -webkit-transition: all 100ms ease-in-out;
    transition:         all 100ms ease-in-out;
}

#spaceship:hover .shell:after{
    opacity: 1;
    bottom: -380px;
}

#spaceship:hover{
    margin-bottom: 30px;
}

#spaceship img {
    width: 100%;
}

.shell {
    position: relative;
}

.beam {
    /* How the beam looks */
    background: #FFFFFF;
    border-radius: 10px;
    border: 4px solid #FF5511;
    height: 10px;
    width: 10px;

    /* How the beam is positioned */
    position: absolute;
    margin-left: -7px;
    left: 50%;
    bottom: 100px;
    z-index: -1;

    /* How the beam animates */
    -webkit-transition: all 100ms ease-in-out;
    transition:         all 100ms ease-in-out;
}